{% extends 'base.html.twig' %}

{% block title %}SymfonyNews{% endblock %}

{% block body %}
    <!-- Posts section-->
    <div class="bg-light py-5 text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>

        <h2 class="fw-bolder">Artworks</h2>
        <p class="lead mb-0">All of our artists' posts, and feel free to leave a thumbsup or a comment!</p>
    </div>

    <div class="py-5 bg-light border-bottom row row-cols-1 row-cols-md-3 g-5">

        {% for posts in publishedPosts %}
            {% include 'posts.html.twig' %}
        {% endfor %}

    </div>

    <p class="bg-light d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a class="btn btn-dark btn-lg px-4 me-sm-3" href="/submit-art">Submit artwork!</a>
    </p>


{% endblock %}
