{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .form_edit
        {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 150px
            auto;
        }
    </style>
{% endblock %}

{% block body %}
<form method="post" class="form_edit">
    <main role="main">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_end(form) }}
        </div>
    </main>
</form>
{% endblock %}
